-#= render 'answers/form', question: @answer.question, answer: @answer

= form_for answer, html: { class: 'form-horizontal', role: 'form' }, remote: true do |a|
  %div.form-group
    %label.col-sm-4
    %div.col-sm-8
  = render 'answers/errors'
  %div.form-group
    = a.label :body, 'Your answer', { class: 'col-sm-4 control-label' }
    %div.col-sm-8
      = a.text_area :body, :class => "form-control", :id => "answer_body", :type => "groupname"
  %div.form-group
    %label.col-sm-4
    %div.col-sm-8
      = a.submit