!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sof
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.container-fluid
      %row.main-frame
        %div.col-md-8
          = render 'layouts/menu'
          = yield
        %div.col-md-4
          = render 'layouts/alert'
